<div class="reg">
    <div class="info">
        <h1>Rest Password</h1>
        <button type="button" class="close"[routerLink]="['/login']" (click)="showLogin()">X</button>
    <form [formGroup] = "ResetPasswordForm" (ngSubmit) = "onSubmit()">
        <div class="container-fluid">
            <div class="row">
              </div>
              <div class="col-12">
              <label for="email">Email<br>
                  <input type="email"  name="email" formControlName="email" (change)="checkExist()">
                  <span *ngIf="(email?.touched && !email?.dirty)" >Email cannot be blank</span>
                  <span *ngIf="email?.errors?.pattern" >invalid Email pattern</span>
                  <span *ngIf="email?.errors?.emailNotExists" >This email does not exist</span>
                  <br>
              </label><br>
              </div>
             
              
              <div class="col-12">
                  <button type="submit" [disabled]="ResetPasswordForm.invalid" >Reset Password</button>
                </div>
            </div>
            
        </form>
    </div>
    </div>