 <div class="FAQ">
   <h3>FAQ</h3>
   <hr>
   <p style="user-select: none" class="title">frequently asked questions</p>

   <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingOne">
         <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
           data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
           How can I pay for this?
         </button>
       </h2>
       <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
         data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <p class="answer">Intrinsicly implement high standards in strategic theme areas via inexpensive solutions. Assertively conceptualize prospective bandwidth whereas client-based imperatives.</p>
         </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header question" id="flush-headingTwo">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
           data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
           Do you offer discounts on multiple items? </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
         data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <p class="answer">Dramatically target focused testing procedures after holistic ideas. Collaboratively maximize high-payoff ROI and value-added products. Distinctively deliver cooperative.</p>
         </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header question" id="flush-headingThree">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
           data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
           Is it possible to pay yearly?
         </button>
       </h2>
       <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
         data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <p class="answer">Assertively iterate user friendly innovation without open-source markets. Monotonectally extend resource sucking manufactured products without high-payoff paradigms.</p>
         </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header question" id="flush-headingFour">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
           data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
           Will I pay more for some features? </button>
       </h2>
       <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
         data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <p class="answer">Enthusiastically pontificate resource-leveling supply chains whereas scalable markets. Authoritatively streamline resource maximizing.
           </p>
           <ol>
           </ol>
         </div>
       </div>
     </div>
   </div>
 </div>
