<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 ">
                <ul class="company">
                    <li class="head">Company</li>
                    <li><a [routerLink]="['/about-us']">About Us</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">partners</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 ">
                <ul class="Features">
                    <li class="head">Features</li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Summer Collection</a></li>
                    <li><a href="">special offers</a></li>
                    <li><a href="">Mobile shop</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 ">
                <ul class="legal">
                    <li class="head">Legal</li>
                    <li><a href="">Privacy & policy</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-3 ">
               <img src="../../assets/images/logo5.png">

            </div>
            <div class="col-12">
                <ul class="social">
                    <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-envelope"></i></a></li>
                </ul>
                <p>&copy; 2021 Elegance - All Rights Reserved Designed And Developed By Ahmed Osama</p>
            </div>
        </div>
    </div>
</footer>