<div class="about-us">
    <h2 class="title">About Us</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <img src="../../assets/images/about-us.jpg" class="image">
            </div>
            <div class="col-sm-12 col-lg-6">
                <h2 class="title">Elegance</h2>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum et iure odio unde delectus, quibusdam aliquid voluptatum molestias temporibus dolor maiores, facilis veniam, est maxime natus necessitatibus nesciunt dolorum ex.</p>
            </div>
        </div>
    </div>
</div>
