h2.title {
    text-align: center;
    padding:100px 0 50px;
}
.about-us {
    background: #e0d3c3;
}
img.image {
    width: 100%;
}
p{
    text-align: center;
    padding: 0 30px;
}
h2.title {
    text-align: center;
}