<nav class="navbar navbar-expand-lg navbar navbar-light bg-light"(scroll)="onWindowScroll();">
    <div class="container-fluid">
      <a class="navbar-brand"  [routerLink]="['']"><img src="../../assets/images/logo5.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Summer Collection</a></li>
              <li><a class="dropdown-item" href="#">New Collection </a></li>
              <li><a class="dropdown-item" href="#">Offers </a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["all-products"]'>All Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["faq"]'>FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contact']">Contact</a>
          </li>
        </ul>
        <div class="justify-content-end px-3 ">
          <h1 class="navbar-text mx-3" class="call">Call Us Now! 123-456-789 </h1>
         <div id="nav-log">
  
           <a [routerLink]='["/login"]' class="login" (click)="hideLogin()"> <i id="icon"class="fa fa-user-circle"></i>  <span class="login">Log In</span> </a>
          </div>
           <button type="button"class="cart" (click)="openCart()">
             <i class="fa fa-shopping-bag"></i>
           </button>
        
          </div>

      </div>
    </div>
  </nav>